.footer {
  backdrop-filter: blur(1px);
  background: rgba(255, 204, 224, 0.95);
  color: #fff;
  display: grid;
  justify-content: center;
  justify-items: center;
  padding: 24px 12px 60px;
}

.logo {
  aspect-ratio: 1;
  position: relative;
  width: min(240px, 45dvw);
}

.list {
  display: flex;
  gap: 24px 36px;

  @media (width < 740px) {
    flex-direction: column;
  }
}

.link {
  display: flex;
  font-size: 1.65rem;
  font-weight: 700;
  gap: 6px;
  justify-content: center;
}

.copyright {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 36px 0 0;
  text-align: center;
}
