.wrapper {
  padding: 12px 12px 0;
  position: relative;
}

.corner {
  border-color: transparent #ffcce0 transparent transparent;
  border-style: solid;
  border-width: 0 120px 120px 0;
  height: 0;
  inset: 0 0 auto auto;
  position: absolute;
  width: 0;
  z-index: 10;

  .iconWrapper {
    height: 120px;
    position: relative;
    width: 120px;
  }

  .socialIcon {
    height: 72px !important;
    inset: 0 0 auto auto;
    padding: 12px;
    position: absolute !important;
    width: 72px !important;
  }
}

.top {
  align-items: center;
  background: #fff;
  display: flex;
  height: 90svh;
  justify-content: center;
  overflow: hidden;
  position: relative;

  .reactPlayer {
    height: 100%;
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
    width: 100%;
  }

  .pattern {
    align-items: center;
    backdrop-filter: blur(1px);
    background-repeat: repeat;
    color: #fff;
    display: flex;
    inset: 0;
    justify-content: center;
    position: absolute;
  }

  .logo {
    aspect-ratio: 1;
    position: relative;
    width: min(360px, 100%);
  }

  .h1 {
    height: 1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 1px;
  }
}

.aside {
  backdrop-filter: blur(1px);
  background: rgb(255, 204, 224, 0.95);
  color: #fff;
  padding: 12px 36px 12px 12px;
  position: sticky;
  top: 0;
  z-index: 2;

  .nav {
    align-items: center;
    display: flex;
  }

  .list {
    display: flex;
    font-size: 1.65rem;
    font-weight: 700;
    gap: 36px;

    @media (width <= 980px) {
      display: none;
    }
  }

  .link {
    display: flex;
    gap: 6px;
    letter-spacing: 0.1rem;
    text-shadow: 3px 3px #ee99a0;
  }
}

.article {
  display: grid;
  gap: 30px;
  justify-items: center;
  margin: 60px 0 90px;

  .h2Wrapper {
    align-items: center;
    display: flex;
    width: min(calc(100% - 12px * 2), 1200px);
  }

  .h2 {
    color: #fff;
    font-size: 4.8rem;
    font-weight: 700;
    text-shadow:
      2px 0 #ee82a9,
      -2px 0 #ee82a9,
      0 -2px #ee82a9,
      0 2px #ee82a9,
      2px 2px #ee82a9,
      -2px 2px #ee82a9,
      2px -2px #ee82a9,
      -2px -2px #ee82a9,
      1px 2px #ee82a9,
      -1px 2px #ee82a9,
      1px -2px #ee82a9,
      -1px -2px #ee82a9,
      2px 1px #ee82a9,
      -2px 1px #ee82a9,
      2px -1px #ee82a9,
      -2px -1px #ee82a9,
      6px 6px 0 rgba(238, 130, 169, 0.5);
  }

  .more {
    align-items: center;
    color: #ee82a9;
    display: flex;
    font-size: 2.1rem;
    gap: 6px;
  }
}

.article[data-article="news"] {
  /* stylelint-disable-next-line rule-empty-line-before */
  .container {
    backdrop-filter: blur(1px);
    background: rgba(255, 255, 255, 0.95);
    border: solid 9px rgba(238, 130, 169, 0.25);
    border-radius: 12px;
    padding: 48px min(48px, 4.5dvw);
    width: min(calc(100% - 12px * 2), 1200px);
  }

  .list {
    display: grid;
    gap: 24px;
  }

  .link {
    align-items: center;
    display: flex;
    gap: 36px;
  }

  .date {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .title {
    font-size: 1.65rem;
  }
}

.article[data-article="member"] {
  /* stylelint-disable-next-line rule-empty-line-before */
  .swiper {
    padding: 0 max(calc(((100dvw - 12px * 2) - 1200px) / 2), 12px);
    width: calc(100dvw - 12px * 2);
  }

  .swiperSlide {
    aspect-ratio: 9 / 24;
    overflow: hidden;
  }

  .imageWrapper {
    height: 92%;
    inset: 4% 0;
    position: relative;
  }

  .background {
    background-color: rgba(255, 255, 255, 0.95);
    background-repeat: repeat;
    border-radius: 12px;
    border-style: solid;
    border-width: 6px;
    inset: calc(100% * 0.1) 0;
    opacity: 0.75;
    position: absolute;
  }

  .name {
    color: #fff;
    font-size: 3.6rem;
    font-weight: 800;
    inset: auto 0 calc(100% * 0.1 + 18px) auto;
    letter-spacing: 0.2rem;
    position: absolute;
    text-orientation: upright;
    writing-mode: vertical-rl;
  }

  .image {
    filter: drop-shadow(6px 6px rgba(0, 0, 0, 0.5));
    object-fit: cover;
    scale: 1.05;
  }
}
