.wrapper {
  display: grid;
  justify-items: center;
  margin: 12px 12px 120px;
  padding: 0 min(48px, 4.5dvw);
}

.h1Wrapper,
.container {
  width: min(100%, 1200px);
}

.h1Wrapper {
  display: flex;
  justify-content: center;
  padding: 90px 0 60px;
}

.h1 {
  color: #fff;
  font-size: 6rem;
  font-weight: 700;
  text-shadow:
    2px 0 var(--color-theme-main),
    -2px 0 var(--color-theme-main),
    0 -2px var(--color-theme-main),
    0 2px var(--color-theme-main),
    2px 2px var(--color-theme-main),
    -2px 2px var(--color-theme-main),
    2px -2px var(--color-theme-main),
    -2px -2px var(--color-theme-main),
    1px 2px var(--color-theme-main),
    -1px 2px var(--color-theme-main),
    1px -2px var(--color-theme-main),
    -1px -2px var(--color-theme-main),
    2px 1px var(--color-theme-main),
    -2px 1px var(--color-theme-main),
    2px -1px var(--color-theme-main),
    -2px -1px var(--color-theme-main),
    6px 6px 0 rgba(238, 130, 169, 0.5);

  @media (width <= 980px) {
    font-size: 4.5rem;
  }
}

.container {
  /* stylelint-disable-next-line rule-empty-line-before */
  .linkList {
    display: grid;
    gap: 12px;
    grid-template: auto / repeat(auto-fill, minmax(150px, 1fr));
  }

  .link2 {
    background: var(--color-theme-frame);
    border: 3px solid var(--color-theme-frame);
    border-radius: 50dvmax;
    color: #fff;
    display: block;
    font-size: 1.65rem;
    font-weight: 700;
    padding: 6px 0;
    text-align: center;
  }

  .active {
    background: #fff;
    color: var(--color-theme-frame);
  }

  .list {
    display: grid;
    gap: 0 min(36px, 4.5dvw);
    grid-template: auto / repeat(auto-fill, minmax(315px, 1fr));
    margin: 30px 0 0;
  }

  .item {
    aspect-ratio: 4 / 3;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
  }

  .link {
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .background {
    background-repeat: repeat;
    border-radius: 12px;
    inset: calc(100% * 0.25) 0 0;
    opacity: 0.5;
    position: absolute;
  }

  .background::before {
    background: url("/pattern.png");
    background-position: center;
    background-size: 125%;
    content: "";
    display: block;
    inset: 0;
    opacity: 0.75;
    position: absolute;
  }

  .sakura {
    inset: 25% auto auto 0;
    position: absolute;
    z-index: 1;
  }

  .imageContainer {
    height: 100%;
    margin-left: -25%;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    width: 150%;
    z-index: 1;
  }

  .imageWrapper {
    height: 300%;
    pointer-events: none;
    position: relative;
    width: 100%;
  }

  .image {
    filter: drop-shadow(6px 6px rgba(0, 0, 0, 0.5));
    object-fit: contain;
    scale: 0.975;
  }

  .name {
    color: #fff;
    font-size: 3.6rem;
    font-weight: 800;
    inset: auto 0 0 auto;
    letter-spacing: 0.2rem;
    padding: 3px 9px;
    position: absolute;
    z-index: 1;
  }
}
