.wrapper {
  display: grid;
  justify-items: center;
  margin: 12px 12px 120px;
  padding: 0 min(48px, 4.5dvw);
}

.h1Wrapper,
.container {
  width: min(100%, 1200px);
}

.h1Wrapper {
  display: flex;
  justify-content: center;
  padding: 90px 0;
}

.h1 {
  color: #fff;
  font-size: 6rem;
  font-weight: 700;
  text-shadow:
    2px 0 var(--color-theme-main),
    -2px 0 var(--color-theme-main),
    0 -2px var(--color-theme-main),
    0 2px var(--color-theme-main),
    2px 2px var(--color-theme-main),
    -2px 2px var(--color-theme-main),
    2px -2px var(--color-theme-main),
    -2px -2px var(--color-theme-main),
    1px 2px var(--color-theme-main),
    -1px 2px var(--color-theme-main),
    1px -2px var(--color-theme-main),
    -1px -2px var(--color-theme-main),
    2px 1px var(--color-theme-main),
    -2px 1px var(--color-theme-main),
    2px -1px var(--color-theme-main),
    -2px -1px var(--color-theme-main),
    6px 6px 0 rgba(238, 130, 169, 0.5);

  @media (width <= 980px) {
    font-size: 4.5rem;
  }
}

.list {
  display: grid;
  gap: min(24px, 4.5dvw);
  grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
}

.item {
  background: #fff;
  border: solid 6px #fbe0e9;
  border-radius: 6px;
}

.link {
  display: block;
  padding: 12px 18px 36px;
}

.thumbnail {
  aspect-ratio: 16 / 9;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

.date {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 12px 0 3px;
  width: 108px;
}

.title {
  font-size: 1.65rem;
}
