.header {
  backdrop-filter: blur(1px);
  background: rgb(255, 204, 224, 0.75);
  color: #fff;
  margin: 0 12px;
  padding: 12px 36px 12px 18px;
  position: sticky;
  top: 12px;
  z-index: 2;

  @media (width <= 980px) {
    padding: 6px;
  }

  .inner {
    align-items: center;
    display: flex;
    gap: 36px;
  }

  .list {
    display: flex;
    font-size: 1.65rem;
    font-weight: 700;
    gap: 36px;

    @media (width <= 980px) {
      display: none;
    }
  }

  .link {
    display: flex;
    gap: 6px;
    letter-spacing: 0.1rem;
    text-shadow: 3px 3px var(--color-theme-main);
  }

  .iconList {
    display: flex;
    gap: 12px;

    @media (width <= 980px) {
      display: none;
    }
  }

  .socialIcon {
    height: 42px !important;
    width: 42px !important;
  }

  .hamburger {
    @media (width > 980px) {
      display: none;
    }
  }
}

.main {
  overflow-x: hidden;
}
