.header {
  backdrop-filter: blur(1px);
  background: rgb(255, 204, 224, 0.95);
  color: #fff;
  margin: 0 12px;
  padding: 12px 36px 12px 12px;
  position: sticky;
  top: 0;
  z-index: 2;

  .nav {
    align-items: center;
    display: flex;
  }

  .list {
    display: flex;
    font-size: 1.65rem;
    font-weight: 700;
    gap: 36px;
    text-shadow: 3px 3px #ee99a0;

    @media (max-width: 980px) {
      display: none;
    }
  }

  .link {
    display: flex;
    gap: 6px;
    letter-spacing: 0.1rem;
  }
}
