.footer {
  background: #ffcce0;
  color: #fff;
  display: grid;
  justify-content: center;
  padding: 12px 12px 36px;
}

.logo {
  aspect-ratio: 1;
  position: relative;
  width: 240px;
}

.copyright {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}
