.footer {
  background: #ffcce0;
  color: #fff;
  display: grid;
  justify-content: center;
  margin: 0 12px 12px;
  padding: 36px 12px 24px;
}

.logo {
  aspect-ratio: 1000 / 250;
  margin: 0 0 12px;
  position: relative;
  width: 240px;
}

.copyright {
  font-size: 1.2rem;
  text-align: center;
}
