.wrapper {
  display: grid;
  justify-items: center;
  margin: 12px 12px 120px;
  padding: 0 min(48px, 4.5dvw);
}

.h1Wrapper,
.container {
  width: min(100%, 1200px);
}

.h1Wrapper {
  display: flex;
  justify-content: center;
  padding: 90px 0;
}

.date {
  font-size: 2.1rem;
  font-weight: 700;
  padding-bottom: 12px;
}

.h1 {
  color: #fff;
  font-size: 3.6rem;
  font-weight: 700;
  text-shadow:
    2px 0 var(--color-theme-main),
    -2px 0 var(--color-theme-main),
    0 -2px var(--color-theme-main),
    0 2px var(--color-theme-main),
    2px 2px var(--color-theme-main),
    -2px 2px var(--color-theme-main),
    2px -2px var(--color-theme-main),
    -2px -2px var(--color-theme-main),
    1px 2px var(--color-theme-main),
    -1px 2px var(--color-theme-main),
    1px -2px var(--color-theme-main),
    -1px -2px var(--color-theme-main),
    2px 1px var(--color-theme-main),
    -2px 1px var(--color-theme-main),
    2px -1px var(--color-theme-main),
    -2px -1px var(--color-theme-main),
    6px 6px 0 rgba(238, 130, 169, 0.5);
}

.container {
  background: #fff;
  border: solid 9px #fbe0e9;
  border-radius: 12px;
  padding: 48px min(48px, 4.5dvw);
}

.reactMarkdown {
  font-size: 1.8rem;
  line-height: 1.75;

  .ol {
    list-style: decimal;
    margin-left: 2.4rem;
  }

  .ul {
    list-style: disc;
    margin-left: 2.4rem;
  }
}

.reactMarkdown > * {
  margin-bottom: 3rem;
}
