.wrapper {
  display: grid;
  justify-items: center;
  margin: 12px 12px 120px;
  padding-top: clamp(24px, 4.5svh, 60px);

  @media (width >= 980px) {
    padding-left: min(48px, 4.5dvw);
    padding-right: min(48px, 4.5dvw);
  }
}

.container {
  align-items: flex-start;
  display: grid;
  position: relative;
  width: min(100%, 1200px);

  @media (width < 980px) {
    justify-items: center;
  }

  @media (width >= 980px) {
    grid-template: auto / repeat(2, 1fr);
  }

  .refreshButtonWrapper {
    inset: 0 auto auto 0;
    position: absolute;
    z-index: 2;

    @media (width < 980px) {
      margin-left: min(48px, 4.5dvw);
      margin-right: min(48px, 4.5dvw);
    }
  }

  .imageContainer {
    display: grid;

    @media (width >= 980px) {
      justify-items: center;
    }

    @media (width < 980px) {
      height: 480px;
      justify-content: center;
      width: calc(100dvw - 24px);
    }
  }

  .imageWrapper {
    max-height: 125svh;
    position: relative;
    width: 150%;

    @media (width < 980px) {
      width: 150dvw;
    }
  }

  .image {
    object-fit: contain;
    object-position: center top;
  }

  .detail {
    backdrop-filter: blur(1px);
    background: rgba(255, 255, 255, 0.95);
    border-radius: 12px;
    border-style: solid;
    border-width: 9px;
    padding: 48px min(60px, 4.5dvw);

    @media (width < 980px) {
      margin-left: min(48px, 4.5dvw);
      margin-right: min(48px, 4.5dvw);
    }
  }

  .nameWrapper {
    text-align: center;
  }

  .name {
    color: #fff;
    font-size: 4.8rem;
    font-weight: 500;
  }

  .furigana {
    font-size: 1.65rem;
    padding-top: 12px;
  }

  .profile {
    font-size: 1.8rem;
    line-height: 1.75;
    padding-top: 30px;
    white-space: pre-wrap;
  }

  .dl {
    display: table;
    padding-top: 15px;
    text-align: left;
    width: 100%;
  }

  .di {
    border: 0;
    border-bottom-width: 1px;
    border-style: solid;
  }

  .dt {
    border-width: 0;
    display: table-cell;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 15px;
    position: relative;
    width: 108px;
  }

  .dt::after {
    border-color: inherit;
    border-left-width: 1px;
    border-right-width: 0;
    border-style: solid;
    bottom: -8px;
    content: "";
    height: 15px;
    position: absolute;
    right: 0;
    width: 1px;
  }

  .dd {
    display: table-cell;
    font-size: 1.65rem;
    padding: 15px;
    width: calc(100% - 108px);
  }

  .socialIconsWrapper {
    display: flex;
    gap: 18px;
    justify-content: center;
    padding-top: 42px;
  }

  .socialIcon {
    height: 42px !important;
    width: 42px !important;
  }
}
