.wrapper {
  display: grid;
  justify-items: center;
  padding-bottom: 120px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 60px;

  @media (width < 980px) {
    padding-top: 24px;
  }
}

.container {
  align-items: flex-start;
  display: grid;
  padding-bottom: 12px;
  position: relative;

  @media (width < 980px) {
    justify-items: center;
    overflow: hidden;
  }

  @media (width >= 980px) {
    grid-template: auto / repeat(2, 1fr);
    width: min(calc(100% - min(48px, 4.5dvw) * 2), 1200px);
  }

  .refreshButton {
    inset: 0 auto auto 0;
    position: absolute;
    z-index: 2;

    @media (width < 980px) {
      left: min(48px, 4.5dvw);
    }
  }

  .imageContainer {
    z-index: 1;

    @media (width < 980px) {
      display: grid;
      height: 480px;
      justify-content: center;
      width: calc(100dvw - 24px);
    }
  }

  .imageWrapper {
    max-height: 125dvh;
    position: relative;
    width: 100%;

    @media (width < 980px) {
      width: 480px;
    }
  }

  .image {
    filter: drop-shadow(12px 12px rgba(0, 0, 0, 0.5));
    object-fit: contain;
    object-position: center top;
  }

  .detail {
    backdrop-filter: blur(1px);
    background: rgba(255, 255, 255, 0.95);
    border: solid 9px rgba(238, 130, 169, 0.25);
    border-radius: 12px;
    padding: 48px min(60px, 4.5dvw) 60px;

    @media (width < 980px) {
      background: rgba(255, 255, 255, 0.95);
      width: calc(100% - min(48px, 4.5dvw) * 2);
      z-index: 1;
    }
  }

  .nameWrapper {
    text-align: center;
  }

  .name {
    color: #fff;
    font-size: 5.4rem;
    font-weight: 500;
    text-shadow:
      2px 0 var(--color-theme-main),
      -2px 0 var(--color-theme-main),
      0 -2px var(--color-theme-main),
      0 2px var(--color-theme-main),
      2px 2px var(--color-theme-main),
      -2px 2px var(--color-theme-main),
      2px -2px var(--color-theme-main),
      -2px -2px var(--color-theme-main),
      1px 2px var(--color-theme-main),
      -1px 2px var(--color-theme-main),
      1px -2px var(--color-theme-main),
      -1px -2px var(--color-theme-main),
      2px 1px var(--color-theme-main),
      -2px 1px var(--color-theme-main),
      2px -1px var(--color-theme-main),
      -2px -1px var(--color-theme-main),
      6px 6px 0 rgba(238, 130, 169, 0.5);
  }

  .furigana {
    font-size: 1.65rem;
    padding-top: 12px;
  }

  .profile {
    font-size: 1.65rem;
    line-height: 1.75;
    padding-top: 36px;
    white-space: pre-wrap;
  }

  .dl {
    display: table;
    padding-top: 30px;
    text-align: left;
    width: 100%;
  }

  .di {
    border-bottom: 1px solid #ee82a9;
  }

  .dt {
    display: table-cell;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 15px;
    position: relative;
    width: 120px;
  }

  .dt::after {
    background-color: #ee82a9;
    bottom: -8px;
    content: "";
    height: 15px;
    position: absolute;
    right: 0;
    width: 1px;
  }

  .dd {
    display: table-cell;
    font-size: 1.65rem;
    padding: 15px;
    width: calc(100% - 120px);
  }

  .socialIconsWrapper {
    display: flex;
    gap: 18px;
    justify-content: center;
    padding-top: 42px;
  }

  .socialIcon {
    height: 42px !important;
    width: 42px !important;
  }
}
