.wrapper {
  display: grid;
  justify-items: center;
  padding-bottom: 120px;
  padding-left: 12px;
  padding-right: 12px;

  @media (width <= 980px) {
    padding-top: 12px;
  }
}

.h1Wrapper {
  display: flex;
  justify-content: center;
  padding: 60px 0;
}

.h1 {
  color: #fff;
  font-size: 6rem;
  font-weight: 700;
  text-shadow:
    2px 0 var(--color-theme-main),
    -2px 0 var(--color-theme-main),
    0 -2px var(--color-theme-main),
    0 2px var(--color-theme-main),
    2px 2px var(--color-theme-main),
    -2px 2px var(--color-theme-main),
    2px -2px var(--color-theme-main),
    -2px -2px var(--color-theme-main),
    1px 2px var(--color-theme-main),
    -1px 2px var(--color-theme-main),
    1px -2px var(--color-theme-main),
    -1px -2px var(--color-theme-main),
    2px 1px var(--color-theme-main),
    -2px 1px var(--color-theme-main),
    2px -1px var(--color-theme-main),
    -2px -1px var(--color-theme-main),
    6px 6px 0 rgba(238, 130, 169, 0.5);

  @media (width <= 980px) {
    font-size: 3.6rem;
  }
}

.container {
  backdrop-filter: blur(1px);
  background: rgba(255, 255, 255, 0.95);
  border: solid 9px rgba(238, 130, 169, 0.25);
  border-radius: 12px;
  padding: 48px min(60px, 4.5dvw) 60px;
  width: min(calc(100% - 12px * 2), 1200px);
}

.fieldWrapper {
  display: grid;
  gap: 36px;
}

.fieldset {
  border: 0;
}

.fieldset,
.field {
  display: grid;
}

.legend,
.label {
  font-size: 1.8rem;
}

.fieldset .legend,
.field .label {
  padding: 0 0 6px;
}

.radioFields {
  display: flex;
  gap: 12px;
}

.radioField {
  display: flex;
  gap: 6px;
}

.input,
.textarea {
  background: #fff;
  border: 1px solid var(--color-theme-main);
  color: var(--color-theme-main);
  font-size: 1.8rem;
  padding: 12px;
}

.errorMessage {
  font-size: 1.65rem;
}

.formFooter {
  display: grid;
  font-size: 1.65rem;
  gap: 36px;
  justify-items: center;
  padding: 48px 0 0;
  text-align: center;
}

.checkboxLabel {
  display: flex;
  gap: 6px;
}

.link {
  text-decoration: underline;
}

.button {
  border: 2px solid var(--color-theme-main);
  border-radius: 50dvmax;
  color: var(--color-theme-main);
  font-size: 1.8rem;
  font-weight: 700;
  padding: 12px 48px;
}
